.ui-rangeSlider {
	margin-top: 5px;

	.ui-ruler-tick-inner {
		padding-top: 3px;
		margin-left: -12px;
	}

	.ui-rangeSlider-container {
		height: 6px;
	}

	.ui-rangeSlider-innerBar {
		height: 2px;
	}

	.ui-rangeSlider-bar {
		height: 0px;
	}

	.ui-rangeSlider-handle {
		height: 8px;
		width: 10px;
		margin-bottom: -4px;
	}
}
