.ui-rangeSlider {
    margin-top: 5px;
}

.ui-rangeSlider .ui-ruler-tick-inner {
    padding-top: 3px;
}

.ui-rangeSlider .ui-rangeSlider-container {
    height: 6px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar {
    height: 2px;
}

.ui-rangeSlider .ui-rangeSlider-bar {
    height: 0px;
}

.ui-rangeSlider .ui-rangeSlider-handle {
    height: 8px;
    /*width: 18px;*/
    margin-bottom: -4px;
}

.ui-rangeSlider .ui-rangeSlider-rightHandle {
    /*margin-left:0px !important;*/
    /*margin-right: -20px;*/
}
