<div ng-controller="AccountCtrl">
  <h3>title goes here...</h3>
  <section ng-repeat="group in model" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accountGroup{{group.id}}" href="#accountBalances{{group.id}}">{{group.name}}</div>
    </div>
  </section>
</div>