<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-md hidden-lg" href="/">Scrilla</a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><a href="/">Accounts</a></li>
        <li><a ui-sref="scrilla.transactions">Transactions</a></li>
        <li><a href="/vendors">Vendors</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/bills">Bills</a></li>
        <li><a href="/budget">Budget</a></li>
      </ul>
    </div>
  </div>
</nav>