.transaction-criteria-editor {
  border: 1px solid #d4d4d4;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding: 6px 10px 4px;
}
.transaction-criteria-editor label {
  margin-right: 5px;
  /* margin-bottom: 15px; */
}
.transaction-criteria-editor input {
  margin-right: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #d3d3d3;
}
.criteria-date-range {
  width: 250px;
  float: left;
  position: fixed;
  margin-left: 15px;
  margin-top: 4px; /* fix the top alignment due to the float */
}
.criteria-etc {
  float: right;
  padding-left: 275px;
  padding-right: 30px;
}
[ui-select] {
  display: inline-block;
  width: 80%;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  display: inline-block;
  width: auto !important;
}
