<div class="transaction-criteria-editor">
  <div class="row">
    <span class="col-md-12">
      <span>
        <label>From: </label><input ui-date ui-date-format="yy-mm-dd" ng-model="$stateParams.from" size="9">
      </span>
      <span>
        <label>To: </label><input ui-date ui-date-format="yy-mm-dd" ng-model="$stateParams.to" size="9">
      </span>
      <span>
        <label>Account: </label>
        <span ui-select multiple ng-model="selectedAccounts.selected">
          <span ui-select-match placeholder="Select Account">{{$item.accountName}}</span>
          <span ui-select-choices repeat="account in transactionCtrl.gridOptions.data | unique:'accountId' | filter:$select.search">{{account.accountName}}</span>
        </span>
      </span>
      <span>
        <label>Vendor: </label>
        <span ui-select multiple ng-model="selectedAccounts">
          <span ui-select-match placeholder="Select Vendor">{{$item.name}}</span>
          <span ui-select-choices repeat="account in accounts | filter:$select.search">{{account.name}}</span>
        </span>
      </span>
      <span>
        <label>Category: </label>
        <span ui-select multiple ng-model="selectedAccounts">
          <span ui-select-match placeholder="Select Category">{{$item.name}}</span>
          <span ui-select-choices repeat="account in accounts | filter:$select.search">{{account.name}}</span>
        </span>
      </span>
    </span>
  </div>
</div>