<div class="row">
  <div class="col-xs-12">
    <div class="transaction-criteria-editor">
    <span>
      <label>From: </label><input ui-date ui-date-format="yy-mm-dd" ng-model="$stateParams.from" size="10" >
    </span>
    <span>
      <label>To: </label><input ui-date ui-date-format="yy-mm-dd" ng-model="$stateParams.to" size="10" >
    </span>
    <span>
      <label>Account: </label><input ng-model="$stateParams.accountId" size="40" >
    </span>
    <span>
      <label>Vendor: </label><input ng-model="$stateParams.vendorId" size="40" >
    </span>
    <span>
      <label>Category: </label><input ng-model="$stateParams.categoryId" size="40" >
    </span>
    </div>
  </div>
</div>