@model scrilla.Web.Controllers.ViewModels.BillViewModel

@{
  ViewBag.Title = "Bill : " + Model.Bill.Name;
}

<h2>Bill : @Html.ActionLink(Model.Bill.Name, MVC.Account.Bill(Model.Bill.Id))</h2>

@{ Html.RenderAction(MVC.Account.EditBill(Model.Bill.Id)); }

@{ Html.RenderAction(MVC.Account.BillTransactions(Model.Bill.Id)); }