@model scrilla.Web.Controllers.ViewModels.VendorViewModel

@{
	ViewBag.Title = "Vendor : " + Model.Vendor.Name;
}

<style>.month-nav { display:none; }</style>

<h2>Vendor: @Html.ActionLink(Model.Vendor.Name, MVC.Account.Transactions(null, Model.Vendor.Id.ToString()))</h2>

@{ Html.RenderAction(MVC.Account.EditVendor(Model.Vendor.Id)); }

@if (Model.Vendor.ImportDescriptionVendorMaps.Any())
{
	<h3><a href="javascript:///" onclick="$('#vendor-mapping').toggle();">Description Mappings <span class="meta">(@Model.Vendor.ImportDescriptionVendorMaps.Count)</span></a></h3>
	<table id="vendor-mapping" style="display:none;">
	<thead><tr><th>Name</th></tr></thead>
	@foreach (var mapping in Model.Vendor.ImportDescriptionVendorMaps.OrderBy(x => x.Description))
	{
		<tr>
		<td>@Ajax.ActionLink("[x]", MVC.Account.DeleteVendorMap(mapping.Id), new AjaxOptions { HttpMethod = "POST" }, new { @class = "delete", title = "Remove import description mapping" }) @mapping.Description</td>
		</tr>
	}
	</table>
}

@{ Html.RenderAction(MVC.Account.Transactions(vendorId: Model.Vendor.Id.ToString(), from: new DateTime(2008, 1, 1).ToUrlDate(), to: new DateTime(2013, 1, 1).AddDays(-1).ToUrlDate())); }
